.ui-datatable-header-box table, 
.ui-datatable-footer-box table,
.ui-datatable table{ 
	table-layout: auto; 
}
.alignLeftPanelGrid td {
    text-align: left;
}
.alignRightPanelGrid td {
    text-align: right;
}
.noBorder tr,
.noBorder td { border: 0 !important; }

.greyBackground tr,
.greyBackground td { background: #eeeeee !important; }

.orangeColor { color: #FF9A0F !important; }

.greyDataTableHeader .ui-datatable-header { 
	background: #eeeeee !important; 
	border: #000000 !important;
}

.blackSeparator {
	background-color: #000000;
	border-color:#000000;
	height:5px;
}

.ui-cell-editor .ui-selectbooleanbutton,
.ui-cell-editor .ui-inputfield {
	width: 100%;
}

tr.rowHighlight td{
  background-color: #fbd697!important;
  background-image: none !important;
  color: #000000 !important;
}

tr.ui-state-highlight td{
  background-color: #FF9A0F!important;
  background-image: none !important;
  color: #000000 !important;
}

tr.ui-state-hover td{
  background-color: #0B6EFD!important;
  background-image: none !important;
  color: #000000 !important;
}

.ui-widget-header {
    border: 1px solid #efefef !important;
    background: #efefef 50% 50% repeat-x !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

.ui-state-default {
    color: #0B6EFD !important;
}

.ui-datatable-footer {
    border: 1px solid #eeeeee !important;
    background: #eeeeee 50% 50% repeat-x !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

.priceTargetsPanelGridColumn {
	width: 1700px;
}

td.centeredColumnContent{
    text-align: center;
}