.ui-toolbar-group-right {

}

.ui-toolbar-group-left {

}

.lastBatchExecutionPanelClass {
	border: none;
}

.lastBatchExecutionPanelClass .ui-panel-content {
	padding: .1em .1em .5em .1em !important;
}

.lastDataUpdatePanelClass {
	border: none;
}

.lastDataUpdatePanelClass .ui-panel-content {
	padding: .1em .1em .5em .1em !important;
}

.ui-toolbar {
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.8);
	box-shadow:0 5px 10px rgba(0,0,0,0.8);
}