.help-separator { 
    border: none;
    background:#FF9A0F !important;
}

.ui-carousel-header{
	border: 1px solid #c1c1c1 !important;
	background:#c1c1c1 !important;
}

.h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: .1em !important;
    margin-block-end: .1em !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left:1em;
}

.ui-state-default.ui-accordion-header {
    color: #FF9A0F !important;
}