<!DOCTYPE html >
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
		<title><ui:insert name="title">JsfWebApplication</ui:insert></title>
		<h:outputStylesheet library="css" name="general.css" />
		<!-- https://realfavicongenerator.net/ -->	
		<ui:insert name="head" />
	</h:head>
	
	<h:body>
		<h:form id="formHeader">
			<ui:include src="../templateComponents/ajaxDialogs.xhtml" />
			<ui:include src="../templateComponents/header.xhtml" />
		</h:form>
		<h:form id="form">	
			<ui:include src="../templateComponents/ajaxDialogs.xhtml" />
			<ui:insert name="content" />
		</h:form>
	</h:body>
</h:html>