<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
 		<h:outputStylesheet library="css" name="header.css" /> 
	</h:head>

	<p:toolbar id="headerToolbarId" class="ui-shadow">
	
		<f:facet name="left" >
		
			<p:menuButton value="Menu" >
				<p:menuitem value="Item" url="/index.xhtml" />
			</p:menuButton>

		</f:facet>

	</p:toolbar>

</ui:composition>
