<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="WEB-INF/templates/master.xhtml">
	
	<ui:define name="head">
		<h:outputStylesheet library="css" name="page.css" />
		<h:outputStylesheet library="js" name="page.js" />
	</ui:define>

	<ui:define name="content">
		<h1 style="text-align:center; margin-bottom:15px">
			Welcome to Jsf
		</h1>
		<br/>
		
		<p:panel class="ui-shadow" style="margin-bottom:2%; margin-left:5%; margin-right:5%;">
			Hello, World!
			<br/>
			The current time is #{index.getTime()}
		</p:panel>
		
		<br/>
	</ui:define>
</ui:composition>